@import 'nib'
vendor-prefixes = o mz ms official webkit

body
    font-family 'Bitter', serif
    
.wrapper
    width 100vw
    height 100vh
    justify-content center
    align-items center
    background-color #FAFAFA
    .wrapper-login
        height 60vh
        background-color #ffffff
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5)
        border-radius 10px

        .login-header
            height 30%
            width 100%
            padding-top 25px
            text-align center
            
            img
                width: 90%
        
        .login-body
            padding-top 50px

        .input-group-text
            background-color #FAFAFA !important
            color #13629D

        .btn-primary
            background-color #13629D !important
            border-color #13629D !important
            border-radius 20px

            &:hover
                background-color #0e4671 !important
