@import 'nib'
vendor-prefixes = o mz ms official webkit

/************************************************************************************************
*
* Variables
*
************************************************************************************************/
main-blue = #13629D
main-blue-weak = #60afeb
main-blue-strong = #0e4671
/************************************************************************************************
*
* Colores para Status
*
************************************************************************************************/
.bg-red 
    background-color #ef5350
    color #fff
.bg-green 
    background-color #66bb6a
    color #fff
.bg-yellow 
    background-color #fbc02d
    color #fff
/************************************************************************************************
*
* Styles in General
*
************************************************************************************************/
/* width */
::-webkit-scrollbar
    width 10px

/* Track */
::-webkit-scrollbar-track
    background rgba(255,255,255,0)
    
/* Handle */
::-webkit-scrollbar-thumb 
    background main-blue
    border-radius 10px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
    background main-blue-strong


body
    color #707070 !important
    font-family 'Bitter', serif

.dataTable
    tbody
        tr
            cursor pointer
            &:hover
                background-color #d2e9f9

textarea
    resize none
    overflow-y hidden

.priority-bar
    height 25px
    border-radius 15px
    margin-bottom 10px
    text-align center
    color #fff
    font-weight bold

.status-bar
    height 25px
    border-radius 15px
    margin-bottom 10px
    text-align center
    color #fff
    font-weight bold

.view-notification-li
    cursor pointer
    &.vi
        background rgba(0,0,0,.01)
    .notification-viewd
        position absolute
        right 5px
        bottom 0px
        color main-blue
.center
    text-align center

.overflow-true
    overflow-y initial !important


.verticalTableHeader 
    text-align center
    white-space nowrap
    transform-origin 50% 50%
    transform rotate(90deg)


.verticalTableHeader:before 
    content ''
    padding-top 110%
    display inline-block
    vertical-align middle

/************************************************************************************************
*
* Bootstrap changes
*
************************************************************************************************/
.sidebar
    min-height calc(100vh - 76px) !important
    background-color #fff !important

#content-wrapper
    background-color #fafafa !important
    padding 15px!important
    box-shadow inset 0px 0px 5px 0px rgba(0,0,0,0.3)
    margin-bottom 50px

    .container-fluid
        box-shadow: 0px 0px 5px rgba(0,0,0,0.3)
        background-color #fff
        padding 15px
        overflow-y: auto;
        height: calc(100vh - 156px);

.btn
    border-radius 20px

.btn-primary
    background-color main-blue !important
    border-color main-blue !important
    &:hover
        background-color main-blue-strong !important

.nav-link
    color main-blue !important

.mr-10
    margin-right 10px

.nav-item
    &:hover
        background-color main-blue
        transition: all 1s
        &>a
            color #fff !important
.nav-item
    &.active
        background-color main-blue
        transition: all 1s
        &>a
            color #fff !important

.dropdown-item
    &:hover
        background-color main-blue
        transition: all 0.5s
        color #fff !important

.sticky-footer
    height 50px !important
    background-color #fff !important

.br-50
    border-radius 50px

.alert-primary
    background-color main-blue !important
    color #fff !important

.list2
    margin-left 30px

.list-group
    margin-bottom 15px
    .list-group-item
        select.form-control
            padding 0.04rem 1em

.btn-border-initial
    border-radius 5px !important

.no-hover
    &:hover
        background-color initial !important
    thead tr:hover
        background-color initial !important

.wd-14
    width 14%
    
.wd-15
    width 15%

.wd-5
    width 5%

.wd-5
    width 3%

@media (max-width: 768px)
    .sticky-footer
        width 100% !important
/************************************************************************************************
*
* Styles for navbar and Sidenav
*
************************************************************************************************/

.navbar-brand
    width 8%
    img
        width 100%

.btn-responsive
    color main-blue
    font-size 1.3em

@media (max-width: 768px)
    .navbar-brand
        width 30%


/************************************************************************************************
*
* Styles for Navigation
*
************************************************************************************************/
.fieldset
    border 1px solid main-blue
    .legend
        width initial

.circle
    border-radius 100%

.btn-delete
    position absolute
    top 0px
    right -20px
.btn-back
    position fixed
    z-index 99
.opacity
    opacity 0.5;
    transition opacity 0.7s
    &:hover
        opacity 1

.select2
    width 100% !important

.btn-confirm
    text-transform initial !important
    font-weight initial !important

.alert
    text-align center

/************************************************************************************************
*
* Input File Drag Files
*
************************************************************************************************/
.simpleFilePreview_multiUI
    width 100% !important
    margin-left 0px !important

.simpleFilePreview
    height 140px !important

.div-evidences
    border 2px solid #fff
    border-radius 4px
    background-color #f2f2f2
    box-shadow 0 0 0 1px #c1c1c1
    position relative
    padding 15px 30px
    ul
        height 130px
        padding 0
        position relative
        left 0
        overflow-x auto
        li
            width 120px
            height 120px
            margin-left 10px
            border 4px solid #fff
            border-radius 3px
            background-color #f7f7f7
            padding 3px
            text-align center
            cursor pointer
            overflow hidden
            box-shadow 0 0 4px 0 #555
            img
                width 100%

.tabs-item
    font-size 20px

.tabs-item.active
    background-color #13629d !important;
    color: white !important;    

#modal-pre-new
    .header, .titulo
        height: auto; 
        word-wrap: break-word;

.table-filter-container 
    text-align right
    display inline-block
    // margin-right 20px
    float right

#DataTables_Table_0_filter
    display inline-block
    float right

.searching
    .table-filter-container
        width 50%

.gray-border
    border-top 1px solid #e9ecef
        

#c1
    cursor pointer
    &.active
        .cls-6
            fill green
#c2
    cursor pointer
    &.active
        .cls-23
            fill green
#c3
    cursor pointer
    &.active
        .cls-16
            fill green
#c4
    cursor pointer
    &.active
        .cls-27
            fill green
#c5
    cursor pointer
    &.active
        .cls-20
            fill green
#c6
    cursor pointer
    &.active
        .cls-25
            fill green

.w-15
    width 15% !important

#table-filter-persons_wrapper
    .btn
        padding 1px 6px
    #table-filter-persons_paginate
        display inline-block !important
        float right !important
        padding-top 0.85em !important
        .pagination
            a
                padding 1px 6px

    #table-filter-persons_info
        display inline-block !important

.table-pdf-container
    display inline-block

#sidebar-leaflet
    .col-12
        padding-right 0px
        padding-left 0px
    .card-header
        padding 0px !important
    .card-body
        padding 0px !important
    .btn
        padding 1px 6px
.leaflet-sidebar
    z-index 1000 !important
    .close
        z-index 10000 !important

.leaflet-circle
    width 10px  
    height 10px  
    border  1px solid #000 
    display inline-block
    margin-right 5px
    border-radius  100%

.leaflet-control-layers-group:not(:first-child)
    border-top 1px solid #ddd
    
.leaflet-control-layers-group
    .leaflet-control-layers-group-name
        font-weight bold
    .leaflet-control-layers-group-label
        margin-top 5px
    label
        margin-bottom 0px

.select2-container--bootstrap .select2-results__group
    font-size 1em
